@font-face {
    font-family: “Avenir”;
    src: url("/css/Avenir.ttc") format(“truetype”);
  }
  @font-face {
    font-family: ITCAvantGardePro-Bk;
    src: url("/css/ITCAvantGardePro-Bk.otf") format(“opentype”);
  }
  @font-face {
    font-family: ITCAvantGardePro-Bold;
    src: url("/css/ITCAvantGardePro-Bold.otf") format(“opentype”);
  }
  @font-face {
    font-family: ITCAvantGardePro-Demi;
    src: url("/css/ITCAvantGardePro-Demi.otf") format(“opentype”);
  }
  @font-face {
    font-family: ITCAvantGardePro-Md;
    src: url("/css/ITCAvantGardePro-Md.otf") format(“opentype”);
  }
  
  